<% include ../partials/header %>
    <div class="container">
        <div class="content">
            <div class="container_12">
                <div class="ola">
                    <div class="grid_12">
                        <p><span>Olá,</span>
                            <%= locals.user.name %> logado como [
                                <%=locals.papel %> ] você deseja:</p>
                    </div>
                    <div class="grid_12">
                        <a href=""><button class="btnhome" type="submit"> <span>Consultas</span> </button></a>
                        <a href=""><button class="btnhome" type="submit"> <span>Rotas</span> </button></a>
                    </div>   
            </div>
        </div>
    </div>                    
</div>
<% include ../partials/footer %>