<% include partials/header %>
    <div class="container">
        <div class="content">
            <div class="container_12">
                <form class="grid_4 prefix_4 sufix_3" method="post" action="/home">
                    <h2 >Sign In</h2>
                        <label for="idUsuario" class="sr-only">Username</label>
                        <input type="text" name="usuario" id="idUsuario" class="typetext" placeholder="Username" required autofocus>
                        <label for="idPassword" class="sr-only">Password</label>
                        <input type="password" id="idPassword" name="password" class="typetext" placeholder="Password" required>
                        <select class="typetext" name="papel">
                            <option selected>Administrador</option>
                            <option>Motorista</option>
                        </select>
                        <% if('error' in locals) { %>
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                Usuário ou Senha Inválido
                            </div>
                            <% } %>
                    <button class="btnhome btnsingin typetext" type="submit"> <span>Logar</span></button>
                </form>
            </div>
        </div>
    </div>
    <!-- /container -->
    <% include partials/footer %>